body {
    background-color:rgb(34, 80, 122);
    background-image: linear-gradient(rgba(255, 255, 255, 0.664) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.664) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
  
/* Smoke */

/* body {
  background: rgb(100, 100, 255);
  font-family: "Baloo Tammudu 2", cursive;
  background-image: url("../assets/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */


/* Linear Gradient */

/* 
body {
    background: linear-gradient(to bottom right, #4e81c4, #59c9b1);
} */


/* Polka Dot */
  
/* body{
    background-color: #007ceD;
/* opacity: 0.8; */
/* background-image: radial-gradient(#fff 1px, #007ceD 0.5px);
background-size: 20px 20px;
} */